* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}


p {
    padding: 10px;
}
#P1-sobre{
    padding: 15px;
    max-width: 450px;
    text-align:justify;
    text-indent: 30px;
}
#P2-sobre{
    padding: 15px;
    max-width: 450px;
    text-align:justify;
    text-indent: 30px;
}

#items{
    display: none;
}

i#burguer{
    background-color: #fdcc04;
    width: 100vw;
    color: rgb(25, 2, 6);
    display: block;
    text-align: right;
    margin-top: 10px;
    cursor: pointer;
    padding-top: 50px;
}
i#burguer:hover{
    background-color:#fdcc04;
    color:black;
   
}
#p-menu{
    color: rgb(183, 43, 108);
}



nav {
    background: #fdcc04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10vw;
    font-weight: bold;
    font-size: 1rem;
}


header {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0;
    width: auto;
    color: brown;
}

h2 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 1.5rem;
}


nav a{
    text-decoration: none;
    color: #222222;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
    background: rgb(8, 0, 0);
    transition: 0.3s;

    

}

form {
    display: flex;
    align-self: center;
    background-color: #222222;
    color: #fff;
    padding: 10vh 30vw;
}

input,
select,
textarea {
    width: 40vw;
    display: block;
    padding: 0.3rem 1rem;
    border-radius: 10px;
}


#form-button{
    width: auto;
    height: 50px;
    font-weight: bold;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    height: 100vh;
    padding: 4rem 10vw;
    margin-bottom: 10px;


}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #222222;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}


.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-image {
    width: 100%;
    height: 100%;
}

#form-button{
    margin-top: 0px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #222222;
    background: #fdcc04;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#form-button:hover {
    background: #fff;
    color: #222222;
    transition: 0.3s;
    
}

#CTA-button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border: none;
    color: #fdcc04;
    background: #222222;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

#CTA-button:hover {
    background: #fff;
    color: #222222;
    transition: 0.3s;
    border-radius: 1rem solid rgb(14, 1, 1);
}

#home {
    background: #fdcc04;
}

.obrigatorio{
 color: #fdcc04;
 opacity: 0.9;
}

@media screen and (max-width: 768px){
    html{
        font-size: 75%;
    }
    img{
        max-width: 50vw;

    }
}

@media screen and (max-width: 630px){
   html {
    flex-direction: column;
    
    }
    
   a#form-button{
    position: absolute;
    margin: -50px -150px ;
    align-items: initial;
   }

   input#form-button{
    position: absolute;
    margin: -50px 30px 0 250px;
    align-items: center;
   }
   
header{
    font-size: 1.5rem;
}
   
 nav, a, img{
    font-size: 60%;
    max-width: 50vw;
    text-align: left;
  }

   h1, p, a {
    margin: 0;
    flex-direction: column;
    font-size: 1.5rem;
  }
  body{
    background: #fdcc04;
    box-sizing: content-box;
  }


}



@media screen and (max-width: 500px){
    
      
}
  
